DB_USERNAME=yeah
DB_PASSWORD=boi
DB_NAME=ce-boostup

IS_DEVELOPMENT=true

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=YOUR_EMAIL
MAIL_PASS=YOUR_EMAIL_PASSWORD

BACK_PORT=3000
FRONT_PORT=3001
COMPILER_PORT=3002

PROD_FRONT_HOST= # leave it blank if dev
PROD_BACK_HOST= # leave it blank if dev